@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans:ital,wght@1,600&family=Roboto:ital,wght@1,300&display=swap');
.center{
    margin-top: 40px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.button {
    width: 53px;
    height: 50px;
   border: 1px solid black;
   font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-weight: bold;

}
.ans-box{
    display: flex;
    justify-content: center;
}
.button:hover{
    cursor: pointer;
}
.ans-box input{
    font-size: 17px;
    padding: 10px 0px;
    border: 1px solid black;
}